/* Emerald Color Scheme on Tailwind */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

input{
    background-color: #e5e7eb;
    flex-grow: 1;
    min-width: 200px;
    border-radius: 25px;
    margin: 10px;
    padding: 5px;
}

.container {
    display: grid;
    background-color: #ecfdf5;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 20vh 80vh;

}
.container .header {
    display: flex;
    flex-direction: column;
    grid-row-start: 1;
    grid-column-start: 2;
    box-shadow: 10px 1px 3px;
}

.headerpart {
    display: flex;
    align-items: center;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 5%;

}

.icon {
    height: 40px;
    width: 40px;
    padding: 5px;
    margin: 10px;
}

.small-icon{
    height: 32px;
    width: 32px;
    margin: 10px;
    border-radius: 45px;
}

.large-icon {
    height: 64px;
    width: 64px;
    border-radius: 45px;
    margin: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: none;
}

.but {
    margin: 15px;
    padding: 10px;
    background-color: #10b981;
    border-radius: 30px;
    color: #ecfdf5;
    flex-grow: 1;
    font-weight: bold;
    max-width: 140px;
}
.top-text {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.bot-text {
    font-size: 20px;
    font-weight: bold;
    margin: 5pxx;
    padding: 5px;
}

.head-name{
    margin: 10px;
    font-weight: bold;
    font-size: 15px;
    margin-right: 20px;
    padding: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #10b981;
    grid-row: 1 / -1;
    min-width: 15vw;
}

.sidebar-top {
    display: flex;
    align-items: center;
    margin-bottom: 10vh;

}

.dash-icon {
    width: 60px;
    height: 60px;
    padding: 10px;
}

.dashGroup {
    margin-bottom: 15vh;
}

.side-title{
    color: #ecfdf5;
    font-weight: bolder;
    font-size: larger;
    padding: 10px;
    margin: 3%;
}

.dashCard {
    display: flex;
    align-items: center;
}

.dashCard div {
    font-weight: bolder;
    font-size: large;
    color:#ecfdf5
}


.maindash{
    background-color: #e5e7eb;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 85% 15%;
}


.projects {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 12rem 12rem 12rem;
}


.card {
    display: flex;
    width: 40%;
    height: 33%;
}

.projTitle {
    padding: 7px;
    margin: 15px;
    font-size: larger;
    font-weight: bolder;
}